<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <mirrors>
    <!-- Remove or comment out the mirror that overrides Maven Central -->
    <!-- This mirror blocks dependencies from Maven Central -->
    <!--
    <mirror>
      <id>jenkins-mirror</id>
      <mirrorOf>central</mirrorOf>
      <url>https://repo.jenkins-ci.org/public/</url>
    </mirror>
    -->
  </mirrors>

  <profiles>
    <profile>
      <id>default</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo.maven.apache.org/maven2</url>
        </repository>
        <repository>
          <id>jenkins</id>
          <url>https://repo.jenkins-ci.org/public/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>default</activeProfile>
  </activeProfiles>
</settings>
